* {margin:0; padding: 0;}

/* NAVIGATION BAR */
#Heading {
	background-color: black; 
	width: 100%; 
	position: fixed; 
	top: 0%;
	padding: 10px 0;
}

#Name { 
	padding-left: 20px;
}

a {
	color:white;
}
a:link {
	text-decoration:none; 
	margin: 0 10px;
}

.title {
	text-align: center;
	padding: 30px 0;
}

#Name, #Links {
	display: inline-block;
}

#Links {
	float: right;
	padding-right: 80px;
}

#Himanshu {
	color:white;
}


/* HOME AND BACKGROUND IMAGE */
#Home {
	width:100%; 
	height:100vh; 
	background-image: url("1.jpg"); 
	background-size:cover; 
	background-repeat: no-repeat; 
	background-attachment: fixed;
}


#JobTitle {
	padding-top:15%; 
	padding-left:100px;
}
#p1 {
	color:white; 
	font-size: 100px;
}

/* ABOUT SECTION - PHOTO AND TEXT */

#About {
	padding-bottom: 40px;
}

#Photo {
	width: 30%; 
	padding-left: 10%
}

#AboutText {
	width: 50%;
	float: right;
}
#Photo, #AboutText {
	display: inline-block;
}
#image {
	height:200px;
	width:160px;
}

/* INTEREST SECTION - IMAGES */

#Interests {
	padding: 0 0 40px 0;
	background-color: #f4f4f0;
}

.col {
	width: 20%;
	display: inline-block;
	margin: 0 10px;
	height: 160px;
}

.col1 {
	margin-left: 80px;	
}

.col img {
	width: 100%;
	height: 100%;
}

/* SKILLS SECTION - IMAGES */

#Skills {
	padding-bottom:40px;
}

.col2 {
	margin: 10px 0; 
	width: 15%; 
	height: 160px; 
	display: inline-block;
	margin: 0 20px;
}

.col3 {
	margin-left: 60px;
}
.col2 img {
	width: 90%;
	height: 90%;
}

/* CONTACT SECTION - IMAGES, LINKS, TEXT */
#table1, #table2 {
	display: inline-block;
	width: 40%;
}
#Contact {
	padding-bottom: 40px;
	background-color: #f4f4f0;
}
#fblogo {
	height: 60px ; 
	width: 60px;
}
#linkedinlogo {
	height: 60px;
	width: 60px;
}
#instagramlogo {
	height: 60px;
	width: 60px;
}



/* ------------------ MEDIA QUERIES ------------------- */

@media(max-width: 768px) {
	#Home {
		height: 70vh;
	}
	#Links {
		padding-right: 30px;
	}
	a:link {
		margin: 0 2px;
	}
	#p1 {
		font-size: 80px;
	}
	.col {
		width: 15%;
		height: 120px;
	}
	.col1 {
		margin-left: 110px;
	}
	.col2 {
		width: 13%;
		height: 120px;
	}
	
	#table1, table2 {
		width: 50%;
	}
	#table2 p {
		font-size: 14px;
	}
	#fblogo {
		height: 55px ; 
		width: 55px;
	}
	#linkedinlogo {
		height: 55px;
		width: 55px;
	}
	#instagramlogo {
		height: 55px;
		width: 55px;
	}
}


@media (max-width: 414px) {
	#Home {
		height: 80vh;
	}
	
	#Name, #Links {
		display: block;
	}
	#Name {
		padding-left: 0;
	}	
	#Himanshu {
		font-size: 20px;
	}
	#Links {
		padding-right: 0;
		float:none;
	}
	a:link {
		font-size: 20px;
	}
	
	#JobTitle{
		padding-top: 35%;
		padding-left: 50px;
	}
	#p1 {
		font-size: 60px;
	}
	
	#Photo, #AboutText {
		display: block;
	}
	#Photo{
		padding-left: 30%;
		padding-bottom: 30px;
	}
	#AboutText {
		float:none;
		width:80%;
		text-align: center;
		padding:10px 0px 10px 20px;	
	}
	
	.col {
		display: block;
		margin: 0;
		width: 100%;
		height: 250px;
		padding: 10px 0 0 40px;
	}
	.col1 {
		margin-left: 0;
	}
	.col img {
		width: 80%;
		height: 80%;
	}
	
	.col2 {
		display: block;
		margin: 0 0 0 0;
		width: 100%;
		height: 250px;
		padding: 10px 0 0 70px;
	}
	.col3 {
		margin-left: 0;
	}
	.col2 img {
		width: 60%;
		height: 80%;
	}
	#table1, #table2 {
		display: block;
	}
	#table1 {
		padding-bottom: 20px; 
	}
	#table2 {
		padding-top: 20px;
	}
}